@import url('reset.css');

:root {
    --primary-color: #f4f3f2;
    --secondary-color: #303030;
    --accent-color-one: #9356dc;
    --accent-color-two: #99e2d0;

    --box-shadow-color: #bfbfbf;

    --font-family :  'Roboto', sans-serif;
    --logo-font: "Shrikhand", sans-serif;
    --h1-size-s: 1.4rem;
    --h1-size-l: 2rem;
    --h2-size-s: 1.12rem;
    --h2-size-l: 1.8rem;
    
    --image-height : 12.5rem;

    --spacing-one: 1rem;
    --spacing-two: 1.25rem;
    --border-radius: 1rem;
    --button-border-radius: 3rem;

    --logo-width: 10rem;
    --logo-height: 1.8rem;

    --button-color: linear-gradient(to top, #9356dc, #ff79da);
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
}

h1 {
    font-size: var(--h1-size-s);
}

h2 {
    font-size: var(--h2-size-s);
}


h1,h2,h3 {
    font-weight: 600;
}

button {
    background: var(--button-color);
}

.header {
    text-align: center;
    padding: var(--spacing-one) 0;
    box-shadow: 0 2px 2px var(--box-shadow-color);
}

.header .logo {
    display: inline-block;
    max-width: var(--logo-width);
    min-height: var(--logo-height);
}

.home {

    .home-location {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--spacing-one) 0;
        background-color: rgb(234, 234, 234);
        z-index: -1;

        i {
            margin-right: var(--spacing-one);  
        }
    }

    .home-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-one);
        padding: 2.5rem 0;
        background-color: rgb(245, 245, 245);

        h1 {
            font-size: var(--h1-size-s);
            max-width: 18rem;
            text-align: center;
            font-weight: 700;
        }

        p {
            text-align: center;
            font-weight: lighter;
            max-width: 18rem;
        }

        button {
            padding: var(--spacing-one);
            border-radius: var(--button-border-radius);
            font-weight: bold;
        }

    }
    
}