@import url('reset.css');

:root {
    --primary-color: #f4f3f2;
    --secondary-color: #303030;
    --accent-color-one: #9356dc;
    --accent-color-two: #99e2d0;

    --box-shadow-color: #bfbfbf;

    --font-family :  'Roboto', sans-serif;
    --logo-font: 'Shrikhand', sans-serif;
    --h1-size-s: 1.4rem;
    --h1-size-l: 2rem;
    --h2-size-s: 1.12rem;
    --h2-size-l: 1.8rem;
    
    --image-height : 12.5rem;

    --spacing-one: 1rem;
    --spacing-two: 1.25rem;
    --border-radius: 1rem;
    --button-border-radius: 3rem;

    --logo-width: 10rem;
    --logo-height: 1.8rem;

    --button-color: linear-gradient(to top, #9356dc, #ff79da);
}

/* Global */
body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
}

h1 {
    font-size: var(--h1-size-s);
}

h2 {
    font-size: var(--h2-size-s);
}


h1,h2,h3 {
    font-weight: 600;
}

button {
    background: var(--button-color);
}
/* Global */

/* Header */
.header {
    text-align: center;
    padding: var(--spacing-one) 0;
    box-shadow: 0 2px 2px var(--box-shadow-color);
}

.header .logo {
    display: inline-block;
    max-width: var(--logo-width);
    min-height: var(--logo-height);
}
/* Header */

/* Main content */
.home {

    .home-location {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--spacing-one) 0;
        background-color: rgb(234, 234, 234);
        z-index: -1;

        i {
            margin-right: var(--spacing-one);  
        }
    }

    .home-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-one);
        padding: 2.5rem 0;
        background-color: rgb(245, 245, 245);

        h1 {
            font-size: var(--h1-size-s);
            max-width: 18rem;
            text-align: center;
            font-weight: 700;
        }

        p {
            text-align: center;
            font-weight: lighter;
            max-width: 18rem;
        }

        button {
            padding: var(--spacing-one);
            border-radius: var(--button-border-radius);
            font-weight: bold;
            color: var(--primary-color);
            border: none;
            cursor: pointer;
            box-shadow:0 2px 7px var(--box-shadow-color);
            margin-top: var(--spacing-one);
            font-size: 0.9rem;

            &:hover {
                filter: brightness(115%);
                box-shadow: 0 7px 7px grey;
            }

        }

    }

    .home-links {
        padding: var(--spacing-two);
    
        h2 {
            margin-bottom: calc(var(--spacing-one) * 1.5);
        }

        .home-links-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(var(--spacing-one) * 1.5);

            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                width: 100%;
                padding: var(--spacing-one);
                gap: var(--spacing-one);
                border-radius: 20px;
                color: black;
                background-color: rgb(234, 234, 234);
                box-shadow: 0 2px 10px var(--box-shadow-color);
                counter-increment: linkCounter;

                &:hover {
                    background-color: #f2eafb;

                    i {
                        color: var(--accent-color-one);
                    }
                }
                
                &::before {
                    content: counter(linkCounter);
                    position: absolute;
                    color: var(--primary-color);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                    text-align: center;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -8px;
                    background-color: var(--accent-color-one);
                }

                i {
                    color: grey;
                    margin-right: calc(var(--spacing-two) * 2);
                
                }
            }
        }
    }
    
    .home-restaurant {
        padding: 0 var(--spacing-two);
        margin: calc(var(--spacing-two) * 2.5) 0;
        
        h2 {
            margin-bottom: calc(var(--spacing-one) * 1.5);
        }

        .home-restaurant-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(var(--spacing-one) * 1.5);

            .restaurant-card {
                display: block;
                width: 100%;
                color:black;
                border-radius: var(--border-radius);
                box-shadow: 0 2px 10px var(--box-shadow-color);
                background-color: rgb(234, 234, 234);

                &:hover {
                    transform: scale(1.02);
                    transition: transform 0.3s;
                }

                img {
                    border-top-left-radius: var(--border-radius);
                    border-top-right-radius: var(--border-radius);
                    height: var(--image-height);
                }

                .restaurant-card-description {
                    position: relative;
                    padding: var(--spacing-one);

                    h3 {
                        margin-bottom: calc(var(--spacing-one) / 2);
                    }

                    button {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 5%;
                        background: none;
                        border:none;

                        height: 50px;

                        i {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        
        }

    }
    
}
/* Main content */
.footer {
    background-color: var(--secondary-color);
    padding: var(--spacing-two);

    h3 {
        font-family: var(--logo-font);
        color: var(--primary-color);
        margin-bottom: var(--spacing-two);
    }

    .footer-link-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-one);
        color: var(--primary-color);
        
        a {
            color: inherit;

            i {
                margin-right: calc(var(--spacing-one) / 2);
            }
        }
    }
}

